@font-face {
    font-family: w95fa;
    src: url(/fonts/w95fa.woff2);
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #2A8080;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90vw;
    height: 95vh;
    background-color: #C0C0C0;
    font-family: "w95fa";

    border-left: 5px solid white;
    border-top: 5px solid white;
    border-right: 5px solid #808080;
    border-bottom: 5px solid #808080;
    outline: 5px solid black;
}

/*Menu Bar*/

.menu-bar {
    background-color: #130A80;
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
}

.menu-bar div {
    width: 100%;
    height: 3rem;
}

.menu-bar p {
    float: left;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.menu-bar section {
    float: right;
}

.menu-bar button {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    font-family: "w95fa";
    font-size: 1.5rem;
    border-radius: 0;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid #808080;
    border-bottom: 5px solid #808080;
    background-color: #c0c0c0;
}

/*Canvas Container*/

.canvas-container {
    position: relative;
    aspect-ratio: 2 / 3;
}

.canvas-container .inputController {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.canvas-container .mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: transparent;
}

.canvas-container p {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}