body {
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #EFEFEF;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    width: 1080px;
    height: 1920px;
    background-color: white;
}

.debug {
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    color: green;
}

/*Canvas*/

.canvas-container {
    width: 1080px;
    height: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/*Material Selector*/

.material-selector {
    display: flex;
    width: fit-content;
}

.material-select {
    width: 3rem;
    height: 3rem;
    border:rgba(0, 0, 0, 0.26) 3px solid;
}

.selected {
    border: rgb(0, 0, 0) 4px solid;
}

.sand-color {
    background-color: #e8d7a7;
}

.water-color {
    background-color: #00a2ff;
}

.wood-color {
    background-color: #472f2b;
}

.fire-color {
    background-color: #ff9900;
}