body {
    background-color: #404040;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.075)), url('./img/background.jpg');*/
}

:root {
    --screen-width: calc(80vh / 3 * 2);
    --screen-height: 80vh;
}

.debug {
    position: absolute;
    color: lime;
    text-align: center;
    left: 0;
    bottom: 0;
    font-size: 0.5rem;
}

main {
    background-color: #232323;
    width: calc(var(--screen-width) + 4vh);
    height: 100vh;
}

/*Title*/
.title {
    position: absolute;
    width: 100vw;
    color: var(--yellow);
    text-align: center;
    left: 0;
    top: 1vh;
    font-size: clamp(1rem, 1.5vh, 2rem);
    font-style: italic;
    z-index: 100;
}


/*Canvas*/

.canvas-container {
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container div {
    height: 80vh;
    width: calc(80vh / 3 * 2);
    position: relative;
}

.MOBILE canvas {
    height: 80vh;
    width: calc(80vh / 3 * 2);
}

.DESKTOP canvas {
    height: calc(80vh / 3 * 2);
    width: 80vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: transparent;
}

#canvas {
    z-index: 1;
    background-color: #404040;
}

#input-controller {
    background-color: transparent;
    z-index: 200;
}

#effect-canvas {
    background-color: #404040;
    z-index: -1;
}

/*Menu*/

.menu-container {
    height: 15vh;
}

/*Material Selector*/

.material-selector-container {
    width: 100%;
    display: flex;
    justify-content:  center;
}


.material-selector {
    width: var(--screen-width);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: clamp(0.3rem, 1vh, 1rem);;
}

.material-selector div {
    border-style: solid;
    border-width: clamp(0.2rem, 0.5vh, 0.5rem);
    color: white;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-selector .selected {
border-color: white; 
}


.material-selector div h2 {
    font-size: clamp(0.5rem, 2vh, 2.5rem);
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}

/*Settings Selector*/


.settings-container {
    margin-top: clamp(0.3rem, 1vh, 1rem);
    width: 100%;
    display: flex;
    justify-content:  center;
}

.settings-selector {
    width: var(--screen-width);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.settings-selector div {
    border-style: solid;
    border-width: clamp(0.2rem, 0.5vh, 0.5rem);
    border-color: rgb(133, 133, 133);
    background-color: #404040;
    color: white;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-selector div h2 {
    font-size: clamp(0.5rem, 2vh, 2.5rem);
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}