body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.debug {
    position: absolute;
    color: lime;
    text-align: center;
    left: 0;
    bottom: 0;
    font-size: 0.5rem;
    z-index: 1000;
}

main {
    height: 100vh;
    width: 100vw;
}

.DESKTOP main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DESKTOP .inner {
    width: calc(100vw - 4rem);
    height: calc((100vw - 4rem) / 16 * 9);
    max-width: calc(100vw - 2vw);
    max-height: calc(100vh - 2vw);
    display: flex;
}

/*Canvas*/
.canvas-container {
    position: relative;
    height: 100%;
    aspect-ratio: 3 / 2;
    
}

.canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    height: 100%;
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-color: transparent;
}

#input-controller {
    z-index: 300;
}

#canvas {
    z-index: 100;
    background-color: #EFEFEF;
}

.canvas-container div {
    position: absolute;
    z-index: 200;
    width: 100%;
    text-align: center;
    color: #22B174;
    user-select: none;
}

.canvas-container .title {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.5vw;
    line-height: 1.3vw;
    font-style: italic;
}

.canvas-container .status-bar {
    margin: 0;
    font-size: 1vw;
}

.title-container .warning {
    color: red !important;
}

.title-container .info {
    color: rgb(255, 151, 81) !important;
}

/*Settings*/
.settings-container {
    margin-left: 2rem;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1.5vh;
}

.legal {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.material-selector {
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-selector section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.material-selector section div {
    box-sizing: border-box;
    border: 0.3vw solid rgba(0, 0, 0, 0.2);
    height: 2.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    cursor: pointer;
}

.material-selector section div p {
    margin: 0;
}

.material-selector .selected {
    border-color: black;
}

/*Brush Settings*/

.brush-settings-container {
    margin-top: 0.5rem;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brush-settings-container .rect {
    width: 1vw;
    height: 1vw;
    border: 1px solid white;
    background-color: transparent;
}

.brush-settings-container .circle {
    width: 1vw;
    height: 1vw;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: transparent;

}

.brush-settings-container section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.brush-settings-container section div {
    background-color: #B1B1B1;
    box-sizing: border-box;
    border: 0.3vw solid rgba(0, 0, 0, 0.2);
    height: 2.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    cursor: pointer;
}

.brush-settings-container .selected {
    background-color: #484848;
}

.eraser {
    grid-column: 1 / 3;
}

.reset {
    grid-column: 2 / 4;
}

.reset {
    grid-column: 4 / 6;
}

.brush-settings-container section div p {
    margin: 0;
}

.greyed {
    opacity: 0.3;
}

/*Info Contianer*/

.info-container {
    margin-top: 0.5rem;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.info-container section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.info-container a {
    background-color: #B1B1B1;
    box-sizing: border-box;
    border: 0.3vw solid rgba(0, 0, 0, 0.2);
    height: 2.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none;
}