body {
    background-color: rgb(255, 255, 255);
}

canvas {
    background-color: rgb(209, 209, 209);
}

h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.material-selector {
    display: flex;
    width: fit-content;
}

.material-select {
    width: 3rem;
    height: 3rem;
    border:rgba(0, 0, 0, 0.26) 3px solid;
}

.selected {
    border: rgb(0, 0, 0) 4px solid;
}

.sand-color {
    background-color: #e8d7a7;
}

.water-color {
    background-color: #00a2ff;
}

.wood-color {
    background-color: #472f2b;
}

.fire-color {
    background-color: #ff9900;
}